<div class="container">
    <div class="row comment-header">
        <div class="vote col-auto">
            <div class="vote-arrow" (click)="vote(1)">
                <mat-icon>arrow_upward</mat-icon>
            </div>
            <div>{{comment.votes}}</div>
            <div class="vote-arrow" (click)="vote(-1)">
                <mat-icon>arrow_downward</mat-icon>
            </div>
        </div>
        <div class="col d-flex align-items-center">
            <!-- <h5 class="my-0">Zefix scho wieder ein Hacker im Bitcoin drin :(</h5> -->
            <div class="subtitle">
                User: {{usernames[comment.author.toLowerCase()]}}<br> Date: {{comment.created.toLocaleString()}}
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col">
            {{comment.content}}
        </div>
    </div>
</div>