.container {
    padding-top: 10px;
    padding-left: 0px;
}

.vote {
    text-align: center;
    line-height: 1;
    font-size: 12px;
}

.vote-arrow {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-top: 3px;
    transform: scale(.9);
}

.subtitle {
    font-size: 1em;
    color: rgb(155, 155, 155)
}

.content {
    padding-top: 10px;
}

mat-icon {
    font-size: 20px;
}