<div class="container">
    <div class="row">
        <div class="vote col-auto">
            <div class="vote-arrow" (click)="vote(1)">
                <mat-icon>arrow_upward</mat-icon>
            </div>
            <div>{{votes}}</div>
            <div class="vote-arrow" (click)="vote(-1)">
                <mat-icon>arrow_downward</mat-icon>
            </div>
        </div>
        <div class="col">
            <h5 class="my-0">Zefix scho wieder ein Hacker im Bitcoin drin :(</h5>
            <div class="subtitle">
                User: Bene<br>
                Date: Hoibazwölfe
            </div>
        </div>
    </div>   
    <div class="row content">
        <div class="col">
            Meiomei der Incident is scho bled. Wos kemman do macha
        </div>
    </div>
</div>