<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://go.ur.de/ifs">
                        IFS
                    </a>
                </li>
                <!-- <li>
                    <a href="">
                        Publication
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            IFS.
        </div>
    </div>
</footer>
