<div class="main-content" style="min-height: calc(100vh - 123px - 35px);">
    <div class="container-fluid" style="min-height: calc(100vh - 123px - 70x);">
        <div class="row" style="min-height: calc(100vh - 123px - 120px); max-width: 1500px;">
            <div class="col-md-8">
                <div class="card" style="min-height: calc(100vh - 123px - 90px); max-height: calc(100vh - 123px - 90px)">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Admin</h4>
                        <p class="card-category">Approve Incidents</p>
                    </div>
                    <div class="card-body" style="max-height:100%; overflow-y: auto">
                        <app-incident-card *ngFor="let contractIncident of contractIncidents" [contractIncident]="contractIncident"></app-incident-card>
                        <mat-spinner [diameter]="30" *ngIf="!contractIncidents"></mat-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>