<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Incidents</h4>
                        <p class="card-category"> List of reported Incidents</p>
                    </div>
                    <div class="card-body">
                        <app-incident-card [incident]="incident"></app-incident-card>
                        
                        <app-incident-card [incident]="incident"></app-incident-card>
                        
                        <app-incident-card [incident]="incident"></app-incident-card>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Source
                                    </th>
                                    <th>
                                        Event
                                    </th>
                                    <th>
                                        Affected entities
                                    </th>
                                    <th>
                                        Impact
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let incident of incidents">
                                        <td>
                                            {{incident.id}}
                                        </td>
                                        <td>
                                            {{incident.name}}
                                        </td>
                                        <td>
                                            {{incident.source}}
                                        </td>
                                        <td>
                                            {{incident.event}}
                                        </td>
                                        <td>
                                            {{incident.entities}}
                                        </td>
                                        <td>
                                            {{incident.impact}}
                                        </td>
                                        <td>
                                            incident kaputt machen
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>