.incident-card {
    max-width: 900px;
    margin-bottom: 10px;
}

.incident-card-title {
    color: black;
}

.incident-card-content {
    padding: 10px;
}

/* .vote {
    text-align: center;
    line-height: 1;
} */

.vote-arrow {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    vertical-align: middle;
    line-height: 5px;
}

.vote-icon {
    vertical-align: middle;
}

.votenumber {
    vertical-align: middle;
    font-weight: bold;
    padding-left: 4px;
}

.incident-card-actions {
    margin-bottom: 0;
    display: flex;
}

.mat-card-header {
    padding-left: 10px;
}

.mat-card-avatar {
    width: 50px;
}

.topcorner {
    position: absolute;
    top: 15px;
    right: 15px;
}

.status-icon {
    position: absolute;
    top: 45px;
    right: 15px;
}

.very-low {
    color: yellow
}

.low {
    color: rgb(255, 217, 0)
}

.moderate {
    color: rgb(255, 187, 0)
}

.high {
    color: rgb(255, 115, 0)
}

.very-high {
    color: rgb(255, 8, 0)
}

.type-select-form {
    padding-left: 20px;
}