<mat-card class="incident-card">
    <mat-spinner [diameter]="25" *ngIf="!incident" class="topcorner"></mat-spinner>
    <mat-card-header>
        <div mat-card-avatar class="vote">
            <div class="vote-arrow" (click)="vote(1)">
                <mat-icon>arrow_upward</mat-icon>
            </div>
            <div><b>{{votes}}</b></div>
            <div class="vote-arrow" (click)="vote(-1)">
                <mat-icon>arrow_downward</mat-icon>
            </div>
        </div>
        <mat-card-title class="incident-card-title">
            {{!incident ? contractIncident.ref : incident.title}}
        </mat-card-title>
        <mat-card-subtitle>{{contractIncident.author}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Blockchain incident
        </p>

    </mat-card-content>
    <mat-card-actions class="incident-card-actions">
        <button mat-button (click)="toggleComments()">
            <mat-icon>insert_comment</mat-icon> 
            {{contractIncident.comments.length}} Comments
        </button>
        <mat-spinner [diameter]="15" *ngIf="commentsLoading"></mat-spinner>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-expansion-panel hideToggle #commentsPanel>
        <mat-list>
            <p *ngFor="let comment of comments">
                <app-incident-comment [comment]="comment"></app-incident-comment><br>
                <mat-divider></mat-divider>
            </p>
        </mat-list><br>
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput rows="3"></textarea>

        </mat-form-field>
        <button mat-button>
            <mat-icon>
                file_upload</mat-icon> Append file
        </button>
    </mat-expansion-panel>
</mat-card>